<!DOCTYPE html>
<html lang="en" ng-app="es6Day">
<head>
	<meta charset="UTF-8">
	<title>ES6!</title>
</head>
<body ng-controller="rootCtrl">

<form>
	<label>Username</label>
	<input ng-model="username" type="text">

	<label>Email</label>
	<input ng-model="email" type="text">

	<label>Password</label>
	<input ng-model="password" type="password">

	<button ng-click="submit( email, password, username )" type="submit">Submit!</button>
</form>

<div ng-if="user">
	<ul>
		<li>{{ user.username }}</li>
		<li>{{ user.email }}</li>
		<li>{{ user.password }}</li>
	</ul>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
<script src="/src/app.js"></script>
<script src="/src/rootCtrl.js"></script>
<script src="/src/userService.js"></script>
</body>
</html>